/* Local Montserrat fonts */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("./fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url("./fonts/Montserrat-Italic-VariableFont_wght.ttf") format("truetype");
}

/* Custom color variables */
:root {
  --bamlab-brand: #000066;
  --bamlab-secondary: #6c757d;
}

body {
  font-family: "Montserrat";
}

/* Add breathing room between sidebar and main text */
main.content,
#quarto-document-content {
  padding-left: 10vw;  /* Left padding 10% of viewport width */
}

