/* Local Montserrat fonts */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("./fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url("./fonts/Montserrat-Italic-VariableFont_wght.ttf") format("truetype");
}

/* Custom color variables */
:root {
  --color-main: #000066;
  --color-secondary: #454b50;
}

body {
  font-family: "Montserrat";
}

/* Heading colors (Quarto Markdown: ## -> h2, ### -> h3) */
h1 {
  color: var(--color-main);
}
h2 {
  color: var(--color-main);
}
h3 {
  color: var(--color-secondary);
}
/* Hyperlinks in main color */
a {
  color: var(--color-main);
}

/* Sidebar (left) background color */
#quarto-sidebar {
  background-color: var(--color-main) !important;
  color: #fff;
}
/* Sidebar text and links in white */
#quarto-sidebar a,
#quarto-sidebar div.sidebar-item-container {
  color: #fff;
}

